.prova{
    width: 200px;
    
}
.carosello {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory; /* Opzionale: per uno scorrimento più fluido */
    -ms-overflow-style: none; /* Per nascondere la scrollbar su IE/Edge */
    scrollbar-width: none; /* Per nascondere la scrollbar su Firefox */
}

.carosello::-webkit-scrollbar {
    display: none; /* Nasconde la scrollbar su WebKit/Blink */
}

.carosello img {
    flex: 0 0 auto;
    width: 280px; /* Larghezza fissa per ogni immagine */
    margin-right: 10px; /* Spazio tra le immagini */
}

.edit{
    border: 1px solid gray;
    background-color: black;
    color:gray;
    padding: 10px 25px;
    margin:15px;
}
hr{
    color:gray;
}
body{
    height:100vh; background-color: black;
}

